<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
 </head>
 <body>

    <% for (const student of students) { %>
        <p><%= student %></p>
      <% } %>

 </body>
 </html>