 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
 </head>
 <body>
     <% if (count > 20) { %>
         <p>Salary is <%= count %></p>
       <% } else if (count < 0) { %>
         <p>Invalid salary supplied. Must be greater than 0.</p>
         <p>Count is <%= count %></p>
       <% } else { %>
         <p>Count is not enough</p>
       <% } %>
 </body>
 </html>