  
<!DOCTYPE html>
 <html>
    <head>
        <title>MashupStack</title>
          <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <h1 style="color:red;">Hello World</h1>
        <p>Welcome Everyone!!!</p>
        <p class="highlight">Lets learn Express</p>
        <img src="/images/express.png" alt="'Express js' in white background" style="width: 750px;height: 300px;">
    </body>
 </html>