  
    <!DOCTYPE html>
    <html>
        <head>
            <title>MashupStack</title>
                <link rel="stylesheet" href="/stylesheets/style.css">
            <style type="text/css">
                p{
                    background-color: yellow;;
                }
            </style>
        </head>
        <body>
            <h1 style="color:red;">Hello World</h1>
            <p>Example for External CSS</p>
            <p class="highlight">Lets learn Express</p>
        </body>
    </html>