<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
 </head>
 <body>
       <h1>Login</h1>
       <form action="/createUser" method="get">
           <label>Email</label><br>
           <input type="email" name="email"><br>
           <label>Password</label><br>
           <input type="password" name="password"><br>
           <input type="submit" value="Submit">
       </form>
 </body>
 </html>