<nav>
    <a href="/">Home</a>
    <a href="/about-us">About Us</a>
    <a href="/getUser">Customer List</a>
    <a href="/page/Sample">Sample</a>
    <a href="/page/Intro">Intro</a>
    <a href="/count/7">Count</a>
    <a href="/contactus">Contact Us</a>
    <a href="/contactus/form">Contact Us Form</a>
</nav>