<nav>
    <a href="/">Home</a>
    <a href="/about-us">About Us</a>
    <a href="/page/Sample">Sample</a>
    <a href="/page/Intro">Intro</a>
    <a href="/count/7">Count</a>
    <a href="/contactus">Contact Us</a>
    <a href="/contactus/form">Contact Us Form</a>
    <a href="/products/create_product">Create Product</a>
    <a href="/products/retrieve_product">Retrieve Product</a>
    <a href="/products/listing_page">Product List</a>
</nav>