body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: bisque;
}
p {
  background-color:rgb(166, 166, 213)
}
 .highlight{
    background-color: green;
    color: white;
  }